body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new {
  background-color: #ccc;
}

.nav-link {
  padding: 0;
}

.nav-link:hover {
  padding: 0;
  color: aquamarine;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

.link {
  color: white;
  width: 130px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  padding: 10px 5px 5px 0;
  transition-property: color, border, background-color;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

/* navbar */
.link:hover,
.link:focus {
  color: aquamarine;

  /* border: 1px solid lightgrey;
  border-radius: 25px; */
}

a:hover {
  text-decoration: none;
}

.photo-at {
  opacity: 0.5;
}

.photo-at:hover,
.photo-at:focus {
  opacity: 1;
}

.about-toggle {
  color: grey;
}

.anchor,
.anchor a {
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
}

.support {
  padding: 15px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: 2px solid white;
}

.support:hover {
  color: black;
  background-color: white;
}

/* slide */
.carousel {
  height: 450px;
  margin-bottom: 70px;
}

.photo-carousel {
  display: block;
  height: 450px;
  max-width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    width: 300%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

.anchor-t {
  color: #00a0bc;
}

.anchor-t:hover {
  text-decoration: none;
  color: #00a0bc;
}

/* .title2 {
  animation-duration: 0.7s;
  font-size: 20px;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    width: 300%;
  }

  to {
    width: 100%;
  }
} */

/* home */
.text-donate {
  color: #616161;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
}

/* footer */
.social-media {
  height: 100px;
  color: #333;
}

.social-media a {
  height: 100px;
  color: #333;
  opacity: 0.7;
  margin-right: 12px;
  transition-property: color, background-color;
  transition-duration: 5s;
  transition-timing-function: ease-out;
}

.social-media a:hover {
  opacity: 1;
}

.bottom {
  height: 450px;
  background-color: #1f1f1f;
  padding: 30px;
}

.white {
  color: #a0a0a0;
  font-size: 14px;
}

.gray {
  color: darkgrey;
  padding-top: 20px;
  font-size: 14px;
}

.guidelogo {
  margin-right: 0;
  margin-left: 0;
}

.text-wedo {
  line-height: 2;
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 500px) {
  .link {
    color: white;
    width: 130px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;

    /* padding: 10px 5px 5px 0; */
    transition-property: color, background-color;
    transition-duration: 5s;
    transition-timing-function: ease-out;
  }

  .link :hover,
  link:focus {
    color: aquamarine;
    border: 0 solid grey;

    /* border-radius: 25px; */
  }

  .carousel {
    height: 200px;
  }

  .carousel-indicators {
    bottom: -45px;
  }

  .photo-carousel {
    display: block;
    height: 250px;
    max-width: 100%;
  }

  a:hover {
    text-decoration: none;
  }

  .text-wedo {
    line-height: 1.9;
    font-size: 14px;
    text-align: justify;
  }

  .about a {
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 12px;
    padding-top: 8px;
  }

  .title {
    font-size: 18px;
    line-height: 18px;
  }

  .support:hover {
    color: black;
    background-color: white;
  }
}

@media only screen and (min-width: 1800px) {
  .photo-carousel {
    display: block;
    height: 580px;
    max-width: 100%;
  }

  .btn-info {
    margin-top: 100px;
  }

  .headersub {
    width: 100%;
    margin-bottom: 10px;
    height: 550px;
  }
}
