body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */
.link:hover,
a:hover {
  text-decoration: none;
  color: white;
}
.link {
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
}

.about-toggle {
  color: white;
}
.anchor,
.anchor a {
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
}
.support {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: 2px solid white;
}
.support:hover {
  color: black;
  background-color: white;
}
/* slide */
.carousel {
  height: 450px;
  margin-bottom: 70px;
}
.photo-carousel {
  display: block;
  height: 450px;
  max-width: 100%;
}
.anchor-t {
  color: #00a0bc;
}
.anchor-t:hover {
  text-decoration: none;
  color: #00a0bc;
}
.title {
  animation-duration: 0.7s;
  font-size: 32px;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*home */
.text-donate {
  color: #616161;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
}

/* footer */
.social-media {
  height: 100px;
  color: #333333;
}

.bottom {
  height: 450px;
  background-color: #1f1f1f;
  padding: 30px;
}

.white {
  color: #a0a0a0;
  font-size: 14px;
}
.gray {
  color: darkgrey;
  padding-top: 20px;
  font-size: 14px;
}
.guidelogo {
  margin-right: 0;
  margin-left: 0;
}
.text-wedo {
  line-height: 2;
  font-size: 20px;
  text-align: justify;
}
@media (max-width: 500px) {
  .title {
    animation-duration: 0.7s;
    font-size: 20px;
    animation-name: fadein;
  }

  .text-wedo {
    line-height: 1.9;
    font-size: 14px;
    text-align: justify;
  }
  .about a {
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 12px;
    padding-top: 8px;
  }
  .support:hover {
    color: black;
    background-color: white;
  }
  .carousel {
    height: 400px;
    margin-bottom: 70px;
  }
  .photo-carousel {
    display: block;
    height: 450px;
    max-width: 100%;
  }
}
