@media screen and (max-width: 576px) {
  .link {
    color: white;
    width: 130px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;

    /* padding: 10px 5px 5px 0; */
    transition-property: color, background-color;
    transition-duration: 5s;
    transition-timing-function: ease-out;
  }

  .link :hover,
  link:focus {
    color: aquamarine;
    border: 0 solid grey;

    /* border-radius: 25px; */
  }

  .carousel {
    height: 200px;
  }

  a:hover {
    text-decoration: none;
  }

  .text-wedo {
    line-height: 1.9;
    font-size: 14px;
    text-align: justify;
  }

  .about a {
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 12px;
    padding-top: 8px;
  }

  .title {
    font-size: 18px;
    line-height: 18px;
  }

  .support:hover {
    color: black;
    background-color: white;
  }
  .img-responsive {
    max-width: 100%;
    height: 200px;
  }

  .youcanmake {
    font-size: 15px;
    font-weight: bold;
  }

  .headingtxt {
    top: 60px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 28px;
    text-align: center;
  }

  .dropdown-menu {
    background-color: #343a40;
    color: white;
    width: 220px;
    border: 1px solid grey;
  }

  .amazon-charity-banner {
    background-image: url("https://m.media-amazon.com/images/G/01/x-locale/paladin/charitycentral/banner-background-image._CB309675353_.png");
    background-repeat: no-repeat, repeat;
    width: 200px;
    height: 250px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 90px;
    margin-left: 10%;
  }

  .blacklink :hover {
    font-size: 22px;
    color: red;
    text-transform: uppercase;
    text-decoration: none;
  }

  .email-contact {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    letter-spacing: 0.5pt;
  }

  .nobold {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.9pt;
    font-size: 12px;
    color: black;
    margin-bottom: 20px;
  }

  .coltakeaction {
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: #000;
    text-align: center;
    font-weight: bold;
    margin-top: 18px;
    font-size: 26px;
    margin-bottom: 18px;
  }

  .responsiveimg {
    max-width: 50%;
    height: auto;
  }

  .text {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.8pt;
    margin-bottom: 5%;
  }

  .text-center {
    text-align: justify;
  }

  .signup {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
  }

  .smalltxt {
    font-size: 10px;
  }

  .navlink-list {
    color: #616161;
    font-size: 14px;
  }

  .titlenext {
    margin-bottom: 5px;
  }

  .white {
    font-size: 12px;
  }

  .title {
    font-size: 16px;
    padding-bottom: 0;
  }

  ul {
    padding: 0;
  }

  .supportdiv {
    width: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .supportdiv:hover {
    width: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ccc;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 16px;
    padding-bottom: 2px;
  }

  .mt-5 {
    margin-top: 2rem;
  }

  .mailchimpclass {
    margin: 0;
    text-align: center;
    padding: 1px;
  }

  .mailchimpclass input {
    padding: 2.5%;
    margin-left: 0.7%;
    margin-top: 5%;
    margin-right: 0.7%;
    border: 1px solid lightgrey;
  }

  p {
    margin-bottom: 0;
  }

  .mailchimpclass button {
    padding: 1.8%;
    padding-left: 19%;
    padding-right: 19%;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: #2fa99a;
    margin: 2%;
    border: 0;
    cursor: pointer;
  }

  .socialicon2 {
    width: 30%;
    height: 30%;
  }

  .gray {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .main-content {
    color: #2d2b31;
    font-size: 15px;
    line-height: 26px;
    margin-top: 10px;
  }

  .carousel {
    height: 200px;
    margin-bottom: 10px;
  }

  .btn-info {
    font-size: 12px;
    margin-left: 30%;
  }

  .title2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8pt;
    line-height: 22px;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
  }
}
